html,body,ul,li,ol,p,a,span{
	margin: 0; padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none; 
}
body{
	background-color: #f7f9fa;
}

/*导航*/
.guide{
	background:rgba(0,0,0,0.7);
	font-family: "黑体";
	font-size: 30px;
	width: 100%;
	height: 50px;
	position: absolute;
	top: 0;
	color: white;
	z-index: 9;
}
.guideMain{
	position: relative;
	width: 1200px;
	height: 60px;
	margin: 0 auto;
}
/*logo*/
.logo img{
	border-radius: 0 0 10px 10px; 
/*	background: rgba(255,255,255,0.9);*/
	position: absolute;
	left: 0;
/*	width: 80px;*/
	height: 30px;
	margin-top: 10px;
}
/*导航中的文字*/
.guideText{
	height: 60px;
	position: absolute;
	right: 0;
}
.guideText a{
	transition: border 0.8s;
	border-bottom: 2px solid rgba(255,255,255,0); 
	margin-top: 10px;
	height: 30px;
	padding-left: 15px;
	padding-right: 15px; 
	display: inline-block;
	text-decoration: none;
	color:white; 
	font-size: 16px;
	font-family:"微软雅黑";
}
a.service{
	border-bottom: 2px solid rgba(255,255,255,0.8); 
}
.guideText a:hover{
	border-bottom: 2px solid rgba(255,255,255,0.8); 
}

/*banner*/
.F_banner {
	width: 100%;
	height: 400px;
	position: relative;
}
.F_banner img {
	width: 100%;
	height: 400px;
}

/*擅长领域*/
.good_at {
	margin-top: 75px;
	width: 100%;
	height: auto;
	position: relative;
}
.g_title {
	width: 20%;
	height: auto;
	left: 40%;
	position: relative;
}
.title_name {
	width: 100%;
	text-align: center;
	font-size: 32px;
	font-family: "微软雅黑";
    font-weight: 100;
    font-style: normal;
    color: #333333;
}
.title_line {
	transition: width 0.5s linear;
    -webkit-transition: width 0.5s linear;
	width: 60px;
	height: 5px;
	margin: 20px auto;
	background-color:  #f1501a;
	border-radius: 2.5px;
}
.g_title:hover .title_line{
    width:130px;
}
.title_instr {
	color: #808080;
	width: 100%;
	margin: 25px auto;
	text-align: center;
	font-size: 13px;
	font-family: 微软雅黑;
}
.g-container {
	width: 100%;
	height: 450px;
	margin-bottom: 70px;
	/*background-color: #333; */
	position: relative;
}
.g-tab {
	color:rgb(61, 68, 79);
	position: relative;
	width: 94%;
	height: 90%;
	top: 10px;
	left: 3%;
	/*overflow: hidden;*/
	/*background-color: rgba(0,0,0,0.5);*/
}
.none ul {
	width: 94%;
	height: 100%;
	left: 8%;
	position: relative;
}
.none ul li {
	width: 20%;
	float: left;
	/*background-color: #333;*/
	margin-left: 1%;
	margin-right: 0.5%;
	text-align: center;
	margin-top: 50px;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
	padding: 6px;
}
.picture {
	display: block;
	margin: 30px auto;
	text-align: center;	
}
.post-title {
	color: #ef4f19;
    font-size: 18px;
    font-family: 微软雅黑;
    line-height: 24px;
}
.none ul li p {
	padding-top: 10px;
	padding-bottom: 35px;
	color: #727272;
	font-size: 12px;
}
.none ul li:hover {
	margin-top: 20px;
	-webkit-box-shadow: 2px 2px 0px #e4e4e4,
						2px 2px 5px #e4e4e4,
						2px 2px 5px #e4e4e4,
						-2px 2px 5px #e4e4e4;
}
.select-point {
	width: 100%;
	height: 10px;
	/*background-color: rgba(0,0,0,0.5);*/
	margin-top: 2%;
}
.select-point .on {
	background-color: rgba(241,80,26,0.6);
}
.select-point ul {
	list-style: none;
	margin-left: 49%;
}
.select-point ul li {
	float: left;
	width: 8px;
	height: 8px;
	margin-left: 1%;
	/*background-color: rgba(241,80,26,0.6);*/
	background-color: rgba(0,0,0,0.25);
	border-radius: 50%;
	cursor: pointer;
}


/*底部*/
.footer{
	width: 99.8%;
	height: 337px;
	background-color: #000;
	opacity: 1;
	border: 1px solid #000;
}
.over{
	width: 80%;
	height: 230px;
	margin: 20px auto;
	color:#a9a9a9;
}
.over ul li span{
	width: 100%;
	height: 30px;
	margin-left: 38%;
/*	background-color: #fff;*/
	line-height: 30px;
	text-align: center;
}
.over ul{
	width: 100%;
	height: 230px;
}
.over ul li{
	width: 25%;
/*	margin-left: 3%;*/
	height: 230px;
	float: left;
}
.footerIntr{
	width: 100%;
	height: 180px;
	margin-top: 20px;
	float: left;
	color: #a9a9a9;
	font-size: 12px;
	text-align: left;
	text-indent: 2em;
}
.footerIntr img{
	width: 16px;
	height: 16px;
	margin-left: 30%;
	float: left;
}
.S_top{
    margin-top: 10px;
}
.S_top1{
    margin-top: 16px;
}
.footerIntr p{
	width: 100px;
	height: 16px;
	float: left;
/*	text-align: left;*/
/*	margin-left: 10px;*/
}
.footerContent{
	width: 80%;
	margin: 0 auto;
}
.left{
	margin-left: 20%;
}
.left1{
	margin-left: 28%;
}
.grayLine{
	width: 50%;
	height: 1px;
	margin-top: 20px;
	margin-left: 28%;
	background-color: #a9a9a9;
}
.blow{
	width: 80%;
	height: 43px;
	margin: 17px auto;
	border-top: 1px solid #a9a9a9;
	color: #a9a9a9;
	text-align: center;
	font-size: 16px;
	line-height: 68px;
}